
*.exe
SimpleCalcTestProject/SimpleCalculator/PublishExe/Calculator.pdb
*.v2
*.testlog
*.manifest
*.lock
*.ide
*.ide-shm
*.ide-wal
SimpleCalculatorProject/.vs/SimpleCalculatorProject/DesignTimeBuild/.dtbcache
SimpleCalculatorProject/.vs/SimpleCalculatorProject/v15/.suo
SimpleCalculatorProject/.vs/SimpleCalculatorProject/v16/.suo
*.dll
*.pdb
*.json
*.cache
*.CopyComplete
SimpleCalculatorProject/SimpleCalcTestProject/obj/Debug/netcoreapp3.1/SimpleCalcTestProject.AssemblyInfo.cs
*.props
*.targets
*.user
*.pubxml
*.semaphore
SimpleCalculatorProject/SimpleCalculator/obj/Release/netcoreapp3.1/win-x86/Calculator.csproj.FileListAbsolute.txt
SimpleCalculatorProject/SimpleCalculator/obj/Release/netcoreapp3.1/win-x86/Calculator.AssemblyInfo.cs
SimpleCalculatorProject/SimpleCalculator/obj/Release/netcoreapp3.1/Calculator.csproj.FileListAbsolute.txt
SimpleCalculatorProject/SimpleCalculator/obj/Release/netcoreapp3.1/Calculator.AssemblyInfo.cs
SimpleCalculatorProject/SimpleCalculator/obj/Debug/netcoreapp3.1/SimpleCalculator.AssemblyInfo.cs
SimpleCalculatorProject/SimpleCalcTestProject/obj/Debug/netcoreapp3.1/SimpleCalcTestProject.csproj.FileListAbsolute.txt
SimpleCalculatorProject/SimpleCalcTestProject/obj/Release/netcoreapp3.1/SimpleCalcTestProject.AssemblyInfo.cs
SimpleCalculatorProject/SimpleCalculator/bin/Release/netcoreapp3.1/win-x86/SOS_README.md
SimpleCalculatorProject/SimpleCalcTestProject/obj/Release/netcoreapp3.1/SimpleCalcTestProject.csproj.FileListAbsolute.txt
SimpleCalculatorProject/SimpleCalculator/obj/Debug/netcoreapp3.1/Calculator.AssemblyInfo.cs
SimpleCalculatorProject/SimpleCalculator/obj/Debug/netcoreapp3.1/Calculator.csproj.FileListAbsolute.txt
SimpleCalculatorProject/SimpleCalculator/obj/
obj
[Oo]bj/
SimpleCalculatorProject/SimpleCalculator/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SimpleCalculatorProject/SimpleCalculator/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
